<!--Modal-->  
<div aria-hidden="true" aria-labelledby="modal-create-edit-user-agree" role="dialog" tabindex="-1" id="modal-create-edit-agree" class="modal fade">  
    <div class="modal-dialog">  
    </div>  
</div>  